{% extends "layout.html" %}
{% load static %}

{% block title %}{{ album.title }}{% endblock %}

{% block content %}
<div class="album-container">
  <div class="avatar">
    {% if album.avatar %}
      <img src="{{ album.avatar.url }}" alt="Обложка альбома {{ album.title }}" class="avatar-image">
    {% else %}
      <img src="{% static 'images/default_avatar.png' %}" alt="Обложка отсутствует" class="avatar-image">
    {% endif %}
  </div>
  <div class="details">
    <h1>{{ album.title }}</h1>
    <p><strong>Дата выпуска:</strong> {{ album.release_date }}</p>
    <p><strong>Жанр:</strong> {{ album.genre }}</p>
    <p><strong>Описание:</strong> {{ album.description }}</p>
  </div>
</div>

<h2>Треки</h2>
<ul>
  {% for track in tracks %}
    <li>
      <div class="track-container">
        <div class="details">
          {{ track.title }} – {{ track.duration }} – {{ track.play_count }}
          <audio controls>
            <source src="{{ track.audio_file.url }}" type="audio/mpeg">
            Ваш браузер не поддерживает элемент audio.
          </audio>
          <a href="{% url 'track_detail' track.id %}">Подробнее</a>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
{% endblock %}

{% block extra_js %}
<script>
  const themeSwitch = document.getElementById('theme-switch');
  if (localStorage.getItem('theme') === 'light') {
      document.body.classList.add('light-theme');
      themeSwitch.checked = true;
  } else if (localStorage.getItem('theme') === 'dark') {
      document.body.classList.add('dark-theme');
      themeSwitch.checked = false;
  }
  
  themeSwitch.addEventListener('change', () => {
      if (themeSwitch.checked) {
          document.body.classList.remove('dark-theme');
          document.body.classList.add('light-theme');
          localStorage.setItem('theme', 'light');
      } else {
          document.body.classList.remove('light-theme');
          document.body.classList.add('dark-theme');
          localStorage.setItem('theme', 'dark');
      }
  });
</script>
{% endblock %}
