{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% bootstrap_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <title>{% block title %}MusicHub{% endblock %}</title>
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo">
        </div>
        <nav>
            <div class="theme-toggle">
                <label class="toggle-label">
                    <input type="checkbox" id="theme-switch" />
                    <span class="slider"></span>
                </label>
            <div class="nav-container">
                <ul class="nav-row">
                    <li>
                        <button class="button primary" onclick="window.location.href='{% url 'subscriptions' %}'">
                            MusicHub Premium
                        </button>
                    </li>
                    <li><a href="{% url 'home' %}" class="button primary">Главная страница</a></li>
                    <li>
                        <form method="get" action="{% url 'search' %}" class="search-form">
                            <input type="text" name="q" placeholder="Поиск..." class="search-input">
                            <button type="submit" class="button primary">Поиск</button>
                        </form>
                    </li>
                </ul>

                {% if request.user.is_authenticated %}
                <ul class="nav-row auth-buttons">
                    <li><a href="{% url 'profile' %}" class="button primary">Профиль</a></li>
                    <li><a href="{% url 'logout' %}" class="button primary">Выйти</a></li>
                </ul>
                {% endif %}
            </div>
        </nav>
        <script>
            const themeSwitch = document.getElementById('theme-switch');

            if (localStorage.getItem('theme') === 'light') {
                document.body.classList.add('light-theme');
                themeSwitch.checked = true;
            } else if (localStorage.getItem('theme') === 'dark') {
                document.body.classList.add('dark-theme');
                themeSwitch.checked = false;
            }
            
            themeSwitch.addEventListener('change', () => {
                if (themeSwitch.checked) {
                    document.body.classList.remove('dark-theme');
                    document.body.classList.add('light-theme');
                    localStorage.setItem('theme', 'light');
                } else {
                    document.body.classList.remove('light-theme');
                    document.body.classList.add('dark-theme');
                    localStorage.setItem('theme', 'dark');
                }
            });

            
        </script>
    </header>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>© 2025 MusicHub. Все права защищены.</p>
    </footer>

    {% block extra_js %}{% endblock %}
</body>
</html>
