{% extends "layout.html" %}
{% load static %} 

{% block content %}
<h1>Любимые треки</h1>
{% if playlist and playlist.tracks.exists %}
    <table class="playlist-table">
        <thead>
            <tr>
                <th>Обложка</th>
                <th>Название</th>
                <th>Исполнитель</th>
                <th>Альбом</th>
                <th>Плеер</th>
                <th>Удаление</th>
            </tr>
        </thead>
        <tbody>
            {% for track in playlist.tracks.all %}
            <tr>
                <td class="cover-cell">
                    {% if track.track.album and track.track.album.avatar %}
                        <img src="{{ track.track.album.avatar.url }}" alt="Обложка альбома" class="playlist-cover">
                    {% elif track.track.avatar %}
                        <img src="{{ track.track.avatar.url }}" alt="Обложка трека" class="playlist-cover">
                    {% else %}
                        <img src="{% static 'images/default_avatar.png' %}" alt="Обложка отсутствует" class="playlist-cover">
                    {% endif %}
                </td>
                <td><a href="{% url 'track_detail' track.track.id %}">{{ track.track.title }}</a></td>
                <td>
                    {% if track.track.artist %}
                        <a href="{% url 'artist_detail' track.track.artist.id %}">{{ track.track.artist.name }}</a>
                    {% else %}
                        Неизвестный исполнитель
                    {% endif %}
                </td>
                <td>
                    {% if track.track.album %}
                        <a href="{% url 'album_detail' track.track.album.id %}">{{ track.track.album.title }}</a>
                    {% else %}
                        Нет альбома
                    {% endif %}
                </td>
                <td>
                    <audio controls>
                        <source src="{{ track.track.audio_file.url }}" type="audio/mpeg">
                        Ваш браузер не поддерживает элемент audio.
                    </audio>
                </td>
                <td>
                    <button class="remove-btn" data-track-id="{{ track.track.id }}">&#10006;</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Ваш плейлист пока пуст.</p>
{% endif %}
<div id="confirmation-modal" class="modal" style="display: none;">
    <div class="modal-content">
        <p>Точно ли хотите удалить трек?</p>
        <button id="confirm-delete-btn" class="button primary">Да</button>
        <button id="cancel-delete-btn" class="button">Нет</button>
    </div>
</div>
{% endblock %}


{% block extra_js %}
<script>
    let trackToDelete = null;
    document.querySelectorAll('.remove-btn').forEach(button => {
        button.addEventListener('click', function() {
            trackToDelete = this.getAttribute('data-track-id');
            document.getElementById('confirmation-modal').style.display = 'flex';
        });
    });
    document.addEventListener('DOMContentLoaded', function () {
        const audioPlayers = document.querySelectorAll('audio');
        audioPlayers.forEach(player => {
            player.addEventListener('canplaythrough', () => {
                console.log(`Аудио готово к воспроизведению: ${player.src}`);
            });
        });
    });
    document.getElementById('confirm-delete-btn').addEventListener('click', function() {
        if (trackToDelete) {
            fetch(`/playlist/remove/${trackToDelete}/`, { method: 'POST', headers: {'X-CSRFToken': '{{ csrf_token }}' }})
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Трек успешно удален');
                        location.reload(); 
                    } else {
                        alert('Ошибка при удалении трека');
                    }
                })
                .catch(error => console.error('Ошибка:', error));
        }
        document.getElementById('confirmation-modal').style.display = 'none';
    });
    document.getElementById('cancel-delete-btn').addEventListener('click', function() {
        document.getElementById('confirmation-modal').style.display = 'none';
        trackToDelete = null;
    });
</script>
{% endblock %}
