{% extends "layout.html" %}
{% load static %}

{% block content %}
    <h1>Поиск исполнителей, альбомов и песен</h1>
    <form method="get" action=".">
        {{ form.as_p }}
        <button type="submit">Поиск</button>
    </form>

    <h2>Результаты по исполнителям</h2>
    <ul>
        {% for artist in artist_results %}
            <li><a href="{% url 'artist_detail' artist.id %}">{{ artist.name }}</a></li>
        {% empty %}
            <li>Исполнители не найдены.</li>
        {% endfor %}
    </ul>

    <h2>Результаты по альбомам</h2>
    <ul>
        {% for album in album_results %}
            <li><a href="{% url 'album_detail' album.id %}">{{ album.title }}</a></li>
        {% empty %}
            <li>Альбомы не найдены.</li>
        {% endfor %}
    </ul>

    <h2>Результаты по песням</h2>
    <ul>
        {% for track in track_results %}
            <li><a href="{% url 'track_detail' track.id %}">{{ track.title }}</a></li>
        {% empty %}
            <li>Песни не найдены.</li>
        {% endfor %}
    </ul>
{% endblock %}
