{% load static %}
{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% bootstrap_css %}
    {% bootstrap_messages %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>{% block title %}МьюзикХаб{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            {% include "menu.html" with is_auth=1 %}
        </ul>
    </nav>

    <main>
        {% block content %}
        Hello
        {% endblock %}
    </main>

    <footer>
        <p>© 2025 MusicHub</p>
    </footer>
</body>
</html>

