<!DOCTYPE html>
<html>
<head>
    <title>{{ artist.name }}</title>
</head>
<body>
    <h1>{{ artist.name }}</h1>
    <p>{{ artist.description }}</p>

    <h2>Альбомы</h2>
    <ul>
        {% for album in albums %}
            <li>
                <h3>{{ album.title }}</h3>
                <p>Дата выхода: {{ album.release_date }}</p>
                <h4>Треки:</h4>
                <ul>
                    {% for track in album.track_set.all %}
                        <li>
                            <p>{{ track.title }} - Продолжительность: {{ track.duration }}</p>
                            {% if track.audio_url %}
                                <audio controls>
                                    <source src="{{ track.audio_url }}" type="audio/mpeg">
                                    Ваш браузер не поддерживает воспроизведение аудио.
                                </audio>
                            {% else %}
                                <p>Аудиофайл не доступен.</p>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
