{% extends "layout.html" %}
{% load static %}

{% block content %}
    <h1>Список Артистов</h1>
    <ul>
        {% for artist in artists %}
            <li>
                <a href="{% url 'artist_profile' artist.id %}">{{artist.name}}</a>
                {{ artist.description }}
                {{ artist.published }}
            </li>
        {% endfor %}
    </ul>

    {% for message in messages %}
        {{ messages }}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            SUCCESS
        {% endif %}
    {% endfor %}

    {{ block.super }}

{% endblock %}

    
    
    

