{% extends "layout.html" %}

{% block content %}
    <div class="banner">
        <h1>Добро пожаловать в MusicHub</h1>
        <p>Исследуйте любимых исполнителей, делитесь вкусами и наслаждайтесь музыкой!</p>
        {% if not request.user.is_authenticated %}
            <a href="{% url 'register' %}" class="button primary">Присоединиться</a>
            <a href="{% url 'login' %}" class="button primary">Войти</a>
        {% endif %}
    <div class="playlist-button">
        {% if request.user.is_authenticated %}
            <a href="{% url 'playlist_detail' %}" class="button primary">Любимые треки</a>
        {% endif %}
    </div>

    </div>
    <div class="popular-artists">
        <h2 class="section-title">Популярные исполнители</h2>
        <div class="artist-list">
            {% for artist in popular_artists %}
                <div class="artist-card">
                    <img src="{{ artist.image.url }}" alt="{{ artist.name }}">
                    <h3>{{ artist.name }}</h3>
                    <p>{{ artist.genre }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="more-artists">
            <a href="{% url 'popular_artists' %}" class="button primary">Посмотреть всех популярных исполнителей</a>
        </div>
    </div>
    <div class="recommendations">
        {% if request.user.is_authenticated %}
        <h2 class="section-title">Ваши рекомендации</h2>
            <ul>
                {% for track in recommended_tracks %}
                    <li>{{ track.name }} - {{ track.artist }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <h2>Исследуй мир музыки</h2>
            <p>Войдите или зарегистрируйтесь, чтобы получить персонализированные рекомендации.</p>
        {% endif %}
    </div>
{% endblock %}
